.C1{
    color: teal;
}
.C2{
    color: red;
}
.C3{
    color: blue;
}
.C4{
    color: orange;
}
.C5{
    color: purple;
}
.C6{
    color:olive;
}
.C7{
    color:fuchsia;
}
.C8{
    color: green;
}
.R2{
    background-color:red;
}
.R3{
    background-color:green;
}
.R4{
    background-color:blue;
}
