body{
    width: 980px;
}
header{
    text-align: center;
}
aside{
    float: left;
    width: 200px;
}
.seccion1{
    float: right;
    width: 760px;
}
.articulo ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: justify;
    display: flex;
    justify-content:space-between;

}
.Columna1{
    width: 240px;
    margin-right: 3px;
}
.Columna2{
    width: 240px;
}
.Columna3{
    width: 240px;
    margin-left: 3px;
}